html,
body {
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
}

::-moz-selection {
	background: #baffae99;
}

::selection {
	background: #baffae99;
}

img::-moz-selection {
	background: #baffae99;
}

img {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

:root {
	--toastify-color-success: #1ec46d !important;
	--toastify-color-error: #e24c4b !important;
	--toastify-color-info: #70b0fa !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}
